{% extends 'base.html' %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">{{ post.title }}</h1>
    </div>
    <div class="panel-body">
        <p>{{ post.content }}</p>
        <p>
          <img src="{{ post.image.url }}" class="img-rounded"/>
        </p>
        <span class="label label-default">{{ post.category }}</span>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            {{ post.modified_date }}
        </div>
    </div>
</div>
<a href="{% url 'blog:list'%}" class="btn btn-primary" role="button">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Back to post list...</a>

{% endblock %}
